@import '~normalize.css';
@import 'roboto.css';

body {
  font-family: 'Roboto', sans-serif;
}

.main-wrapper, header {
  max-width: 1980px;
}

.main-wrapper {
  padding: 4rem 0 0 6rem;
}

.container {
}

.ui-panel {
  width: 100%;
  height: 0.3rem;
  background-image: url('../assets/icons/ui_panel.svg');
  background-repeat: no-repeat;

  &.rotate {
    transform: rotate(90deg);
  }

  &.middle {
    margin: 1rem 0;
  }

  &.bottom {
    margin: 10rem 0;
  }
}

header {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2rem;
  padding: 2rem 1rem 1rem 8rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  .ui-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    height: 21px;
    width: 12rem;
    margin: 0 1rem 0 auto;
    padding: 0;
    background-size: cover;
  }
}

aside {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 6rem;
  padding: 1rem 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;

  background: #F8F9FC;

  .logo-container {
    width: 31px;
    height: 30px;

    .logo {
      display: block;      
      width: 100%;
      height: 100%;

      background-image: url('../assets/icons/internet.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .ui-panel {
    margin: 5rem 0;
    padding: .6rem;
  }

  .ui-oval {
    width: 1.3rem;
    height: 1.3rem;
    background-image: url('../assets/icons/oval.svg');
    background-repeat: no-repeat;
  }
}