.search-container {
  position: relative;

  .search-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 20rem;
    margin: 0;
    padding: .5rem;
  
    border-bottom: 0.1rem solid #E7EAF3;
    box-sizing: border-box;
  
    font-family: Avenir;
    color: #2F4858;
  
    .search-icon {
      border: none;

      &:hover {
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }  
    }
  
    .search {
      width: 100%;
      padding: 0 .5rem;
      font-size: 15px;
      line-height: 18px;
      border: none;
  
      &:focus {
        outline: none;
      }
    }
  
    .search-icon {
      width: 16px;
      height: 16px;
      background: url('../assets/icons/magnifier.svg') no-repeat;
      background-size: cover;
    }
  }

  .result-section {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;  
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;

    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(4, 75, 120, 0.1);
    border-radius: 3px;

    div {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      width: 100%;
      min-height: 2rem;
      padding: .5rem;
    }

    .title {
      font-family: Avenir;
      font-size: 20px;
      line-height: 22px;
      font-weight: 600;

      color: #31343A;
    }

    .description {
      padding: 0 2rem;
      font-family: Avenir;
      font-size: 14px;
      line-height: 19px;
      font-weight: 500;

      color: #2F4858;
      background: #F8F9FC;
    }

    .result {
      font-family: Avenir;
      font-size: 16px;
      line-height: 20px;

      color: #4E525D;

      .edit-btn {
        display: flex;
        width: 12px;
        margin: 0 .5rem;
        height: 12px;
        background: url('../assets/icons/link_arrow.svg') no-repeat;
        background-size: contain;
        box-sizing: border-box;
        
        &:hover {
          cursor: pointer;
          transform: scale(1.2);
        }
      }
    }

    .close_btn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 0.8rem;
      height: 0.8rem;
  
      background: url("../assets/icons/cross.svg") no-repeat center center/contain;
      border: none;
      outline: none;
  
      &:hover, &:focus {
        cursor: pointer;
        transform: scale(1.1);
      }
    }
  }
}
