$border: 0.1rem solid #235315;

.tasks-page {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;

  .header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 95%;
    box-sizing: border-box;

    border-bottom: 1px solid #EAECF4;

    .section-title {
      margin: 1rem 0;
      font-family: Avenir;
      font-size: 34px;
      line-height: 36px;
      font-weight: 600;
      color: #31343A;
    }

    .add-btn {
      min-width: 110px;
      height: 36px;
      color: #FFFFFF;
      
      background: #0E6CC2;
      border: 1px solid #0E6CC2;
      border-radius: 3px;
      font-family: Avenir;
      font-size: 13px;
      font-weight: 500;
      line-height: 14px;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
        opacity: .8;
      }
    }
  }

  .filter-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding: 1rem 0;
    box-sizing: border-box;

    .date-picker-container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      margin-right: 2rem;

      label {
        font-family: Avenir;
        font-size: 14px;
        line-height: 22px;
        color: #788999;
      }
    }
  }

  .loader-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10rem;

    .loader {
      align-self: center;
    }
  }
}
