.task-container {
  position: relative;
  min-height: 55px;

  &:nth-child(odd) {
    background: #FFFFFF;
  }

  &:nth-child(even) {
    background: #F8F9FC;
  }

  .body-row {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 100%;
    padding: .5rem 10rem .5rem 1rem;

    &.list {
      .body-cell {
        &.id, &.startingTime, &.dueTime, &.description {
          display: none;
        }
      }
    }
  
    .body-cell {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      flex-basis: 20%;
      min-width: 5rem;
  
      text-align: center;
    }
  }
  
  .btns-container {
    position: absolute;
    top: 1rem;
    right: 1rem;

    .edit-btn, .delete-btn {
      border: none;
      margin: 0 .5rem;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }

      &:focus {
        outline: none;
      }
    }

    .edit-btn {
      width: 18px;
      height: 18px;
      background: url('../assets/icons/pencil.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }

    .delete-btn {
      width: 18px;
      height: 18px;
      background: url('../assets/icons/trash.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}